
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@600&family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    color: #333333;
}

nav {
    display: flex;
    padding: 40px 60px;
}

.logo {
    width: 35vw;
}

.nav-items {
    display: flex;
    width: 65vw;
}

.line {
    border-bottom: 2px solid #000;
    width: 50%;
    flex-shrink: 0;
    position: relative;
    bottom: 21px;
}

.nav-items ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    font-size: 20px;
    width: 50%;
    flex-shrink: 0;
}

main {
    display: flex;
}

.main-img {
    width: 35vw;
}

.main-img img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    width: 65vw;
}

.content-top {
    display: flex;
    margin: 0 100px;
}

.content-top h1 {
    flex: 65;
    font-size: 100px;

    font-family: "merriweather";
    color: transparent;
    -webkit-text-fill-color: none; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.2em;
}

.content-top h1 span {
    margin-left: 170px;
    font-family: "merriweather";
}



.content-top p {
    flex: 30;
    font-size: 30px;
    align-self: flex-end;
}

.socials {
    flex: 5;
}

.socials ul {
    display: flex;
    flex-direction: column;
    height: 225px;
    font-size: 30px;

    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}



.content-mid {
    padding: 30px 100px;
    display: flex;
    justify-content: flex-end;
}

.content-mid a {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 60px;

    font-weight: 600;
}

.content-bottom {
    display: flex;
    justify-content: space-evenly;
}

.bottom-left {
    display: flex;
}

.vertical-line {
    border-right: 1px solid #333333;
    height: 250px;

    position: relative;
    right: 17px;
    top: 16px;

}

.bottom-left ul {
    font-size: 20px;
}

.bottom-middle {
    width: 300px;
}

.bottom-middle p:first-child {
    font-size: 80px;
    margin-top: -80px;

}

.bottom-middle img {
    width: 300px;
}

.bottom-right {
    align-self: center;
}

.hamburger {
    display: none;
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
    }

    nav {
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .nav-items {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .main-img img {
        position: relative;
        align-items: center;
    }

    .content {
        width: 100%;
    }

    .content-top {
        flex-direction: column;
        margin: 10px 20px;
        row-gap: 20px;
    }

    .content-top p {
        width: 100%;
    }

    .socials ul {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        height: auto;
    }

    .content-top h1 span {
        margin-left: 100px;
    }

    .content-mid {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .content-bottom {
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 70px;
    }

    .vertical-line {
        display: none;
    }

    .bottom-left li {
        font-size: 25px;
    }

    .bottom-right {
        display: none;
    }

}
